$color-primary: #1976d2;
$color-primary-dark: #0058bd;
$color-success: #388e3c;
$color-error: #d32f2f;
$color-gray-lighter: #efefef;
$color-gray-light: #e0e0e0;
$color-gray-medium: #bdbdbd;
$color-gray-dark: #abacab;
$color-gray-darker: #757575;
$color-black: #000000;
$color-white: #ffffff;
